{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Sign up</div>
                <div class="panel-body">
                    <form class="" action="{{ path_for('auth.signup') }}" method="post" autocomplete="off">
                        <div class="form-group{{ errors.full_name ? ' has-error' : '' }}">
                            <label for="name">Full Name</label>
                            <input class="form-control" type="text" name="full_name" id="full_name" value={{ old.full_name }}>
                            {% if errors.full_name %}
                                <span class="help-block">{{ errors.full_name | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email" value={{ old.email }}>
                            {% if errors.email %}
                                <span class="help-block">{{ errors.email | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password">
                            {% if errors.password %}
                                <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Sign up</button>
                            {{ csrf.field | raw }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
